header {
  background: radial-gradient(violet,purple);
  color: blue;
  font-family: "Joti One", cursive, Helvetica;
  font-size: 32px;
  text-align: center;
  width: 100vw;
  height: 40vh;
  padding:0;
  margin:0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.bodybox {

  flex-grow: 1;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color:green;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.gridcontainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr) ;
  grid-gap: 2vh;
  padding: 2vh;
}

.gridcontainer > a {
  background-color: rgba(250, 250, 250, 0.4);
  border: 1px transparent solid;
  mix-blend-mode: screen;
  height: auto;
}
  
.gridcontainer > a:hover {
  background-color: rgba(250, 250, 250, 0.6);
  border: 1px white solid;
} 
h1 {
  color:#000000;
  text-align:center;
  }
.bodybox {
  color: black;
}
.header-text {
  font-size: 75px;
  text-decoration-color: black;
  text-emphasis: none;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
a:visited {
  color:black;
}
a:hover {
  color:rgba(250, 250, 250, 0.6)
}
a {
  color:black;
}
.inputbox {
  border:2.5% black;
  border-width: 2.5%;
  border-style: solid;
  padding: 2.5%;
}
h3 {
  text-align:center;
}
.stylethismatthew {
  color:black;
}
.stylelinks {
  align-items: center;
}
tr,table,td,th {
  border-width: 1px;
  border:2px solid black;
  margin-left:10px;
  border-collapse: collapse;
}
th,td,tr {
  padding:3px;
  text-align: center;
}
.abcd {
  text-align: left;
}
.floatright {
  /* I never guessed! */
  float: right;
}
@media only screen and (max-width: 720px) {
  /* hides images on small screens */
  img {
    display: none;
  }
}
@media only screen and (min-width: 720px) {
  a,h3,p,li {
    font-size: 115%;
  }
}
.backtext {
padding:0;
}